*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.boton-agregar{
    margin: 1rem auto 0.5rem;
    width: 100%;
    height: auto;
    padding: 0.5rem;
    background-color: #f04e0e;
    border: none;
    border-radius: 0.3rem;
    color: #ffffff;
    font-size: 1rem;
    overflow: hidden;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.boton-agregar:active{
    background-color: #ec7141;
}

.boton-agregar .icono-carrito{
    margin-top: 0.2rem;
    color: #ffffff;
    font-size: 1rem;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px) {
    .boton-agregar{
        font-size: 1.1rem;
    }

    .boton-agregar .icono-carrito{
        font-size: 1.1rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .boton-agregar{
        font-size: 1.1rem;
    }

    .boton-agregar .icono-carrito{
        font-size: 1.1rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .boton-agregar{
        font-size: 1.2rem;
    }

    .boton-agregar .icono-carrito{
        font-size: 1.2rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .boton-agregar{
        font-size: 1.2rem;
    }

    .boton-agregar .icono-carrito{
        font-size: 1.2rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px){
    .boton-agregar{
        font-size: 1.4rem;
    }

    .boton-agregar .icono-carrito{
        font-size: 1.4rem;
    }
}