* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* Contenedor del botón */
.contenedor-modo-claro-oscuro .boton-modo-claro-oscuro {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Estilos del ícono del botón */
.contenedor-modo-claro-oscuro .modo-claro {
    font-size: 1rem;
    color: #ffffff;
}

.contenedor-modo-claro-oscuro .modo-oscuro {
    font-size: 1rem;
    color: #000000;
}

/* Modo claro */
.light-mode {
    --bg-color: #ffffff !important;
    --text-color: #000000 !important;
    --scrollbar-bg: #f1f1f1 !important;
    --scrollbar-thumb: #888 !important;
    --scrollbar-thumb-hover: #555 !important;
}

/* Modo oscuro */
.dark-mode {
    --bg-color: #1e1e1e !important;
    --text-color: #ffffff !important;
    --scrollbar-bg: #2c2c2c !important;
    --scrollbar-thumb: #666 !important;
    --scrollbar-thumb-hover: #999 !important;
}

/* Aplicar los colores de fondo y texto */
html, body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Personalización de la barra de desplazamiento */
html {
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

html::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px){
    .contenedor-modo-claro-oscuro .modo-claro,
    .contenedor-modo-claro-oscuro .modo-oscuro {
        font-size: 1.1rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape) {
    .contenedor-modo-claro-oscuro .modo-claro,
    .contenedor-modo-claro-oscuro .modo-oscuro {
        font-size: 1.1rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-modo-claro-oscuro .modo-claro,
    .contenedor-modo-claro-oscuro .modo-oscuro {
        font-size: 1.2rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .contenedor-modo-claro-oscuro .modo-claro,
    .contenedor-modo-claro-oscuro .modo-oscuro {
        font-size: 1.2rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px) {
    .contenedor-modo-claro-oscuro .modo-claro,
    .contenedor-modo-claro-oscuro .modo-oscuro {
        font-size: 1.4rem;
    }
}