*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.swiper-producto-antes-despues-doble {
    width: 100%;
    height: 100%;
} 

.contenedor-producto-antes-despues-doble-boton-1{
    margin-bottom: 1rem;
    padding: 0.3rem;
    background-size: 300% 300%;
    animation: gradientAnimation 8s ease infinite;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    overflow: hidden;
}

/*modo claro*/
.light-mode .contenedor-producto-antes-despues-doble-boton-1{
    background: linear-gradient(135deg, #e2bd02, #fa3c40, #8a2be2, #00c9ff);
}
/*modo oscuro*/
.dark-mode .contenedor-producto-antes-despues-doble-boton-1{
    background: linear-gradient(135deg, #5e5006, #691719, #3d1263, #00465c);
}

@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.burbuja{
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    filter: blur(4px);
    animation: bubbleAnimation 10s infinite ease-in-out;
    opacity: 0.7;
}

@keyframes bubbleAnimation {
    0% {
        transform: translatey(200px) scale(1);
        opacity: 0.5;
    }
    50% {
        transform: translateY(-200px) scale(1.2);
        opacity: 0.8;
    }
    100% {
        transform: translateY(200px) scale(1);
        opacity: 0.5;
    }
    
}

.burbuja:nth-child(1){
    left: 10%;
    animation-duration: 8s;
    animation-delay: 0s;
}

.burbuja:nth-child(2){
    left: 30%;
    animation-duration: 10s;
    animation-delay: 2s;
}

.burbuja:nth-child(3){
    left: 50%;
    animation-duration: 12s;
    animation-delay: 4s;
}

.burbuja:nth-child(4){
    left: 70%;
    animation-duration: 9s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    left: 90%;
    animation-duration: 11s;
    animation-delay: 1s;
}

.contenedor-producto-antes-despues-doble-boton-1 .boton-compra{
    margin: 0.5rem auto 0.5rem;
    padding: 0.5rem;
    width: auto;
    height: auto;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*modo claro*/
.light-mode .contenedor-producto-antes-despues-doble-boton-1 .boton-compra{
    background-color: #ff0000;
}
/*modo oscuro*/
.dark-mode .contenedor-producto-antes-despues-doble-boton-1 .boton-compra{
    background-color: #000000;
}

/*modo claro*/
.light-mode .contenedor-producto-antes-despues-doble-boton-1 .boton-compra:active{
    background-color: #f83636;
}

/*modo oscuro*/
.dark-mode .contenedor-producto-antes-despues-doble-boton-1 .boton-compra:active{
    background-color: #3f3e3e;
}

.contenedor-producto-antes-despues-doble-1{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.contenedor-antes-despues-tarjeta-oferta-detalles-1{
    width: 100%;
    height: 13.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.contenedor-antes-desp-productos-antes-despues-doble-1{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-antes-desp-productos-antes-despues-doble-1 .texto-antes-product{
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
    
}

.contenedor-antes-desp-productos-antes-despues-doble-1 .texto-despues-product{
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
}

.contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .texto-tarj-product{
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
}

.contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .contenedor-tarjeta-uno {
    padding: 0.4rem;
    border-radius: 50%;
    width: auto;
    background-color: #fbff02;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    

.contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .contenedor-tarjeta-uno .tarjeta-uno {
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    color: #000000;
}

.contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-precio-oferta{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-precio-oferta .texto-precio-oferta{
    font-size: 1.1rem;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
}

.contenedor-precio-unitario-productos-antes-despues-doble-1{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-precio-unitario-productos-antes-despues-doble-1 .texto-precio-unitario{
    font-size: 1.1rem;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
}


.contenedor-detalles-productos-antes-despues-doble-1{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-detalles-productos-antes-despues-doble-1 .texto-detalle1-productos-antes-despues-doble-1{
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
    text-align: center;
    font-weight: bold;
}


.contenedor-imagen-producto-antes-despues-doble{
    width: 100%;
    height: auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-imagen-producto-antes-despues-doble .imagen-producto-antes-despues-doble{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px) {  
    .contenedor-producto-antes-despues-doble-boton-1 .boton-compra{
        font-size: 1.1rem;
    }

    .contenedor-antes-desp-productos-antes-despues-doble-1 .texto-antes-product{
        font-size: 1.1rem;
    }
    
    .contenedor-antes-desp-productos-antes-despues-doble-1 .texto-despues-product{
        font-size: 1.1rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .texto-tarj-product{
        font-size: 1.1rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .contenedor-tarjeta-uno .tarjeta-uno {
        font-size: 1.1rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-precio-oferta .texto-precio-oferta{
        font-size: 1.2rem;
    }

    .contenedor-precio-unitario-productos-antes-despues-doble-1 .texto-precio-unitario{
        font-size: 1.2rem;
    }

    .contenedor-detalles-productos-antes-despues-doble-1 .texto-detalle1-productos-antes-despues-doble-1{
        font-size: 1.1rem;
    }
    
}


/* Móviles en modo Landscape */
@media screen and  (max-width: 812px) and (orientation: landscape){
    .contenedor-producto-antes-despues-doble-boton-1 .boton-compra{
        font-size: 1.1rem;
    }

    .contenedor-antes-despues-tarjeta-oferta-detalles-1{
        height: 15.3rem;
    }

    .contenedor-antes-desp-productos-antes-despues-doble-1 .texto-antes-product{
        font-size: 1.1rem;
    }
    
    .contenedor-antes-desp-productos-antes-despues-doble-1 .texto-despues-product{
        font-size: 1.1rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .texto-tarj-product{
        font-size: 1.1rem;
    }
    
    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .contenedor-tarjeta-uno .tarjeta-uno {
        font-size: 1.1rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-precio-oferta .texto-precio-oferta{
        font-size: 1.2rem;
    }

    .contenedor-precio-unitario-productos-antes-despues-doble-1 .texto-precio-unitario{
        font-size: 1.2rem;
    }

    .contenedor-detalles-productos-antes-despues-doble-1 .texto-detalle1-productos-antes-despues-doble-1{
        font-size: 1.1rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor-producto-antes-despues-doble-boton-1 .boton-compra{
        font-size: 1.2rem; 
    }

    .contenedor-producto-antes-despues-doble-1{
        flex-direction: row;
    }

    .contenedor-antes-despues-tarjeta-oferta-detalles-1{
        height: 15.3rem;
    }
    
    .contenedor-antes-desp-productos-antes-despues-doble-1 .texto-antes-product{
        font-size: 1.2rem;
    }
    
    .contenedor-antes-desp-productos-antes-despues-doble-1 .texto-despues-product{
        font-size: 1.2rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .texto-tarj-product{
        font-size: 1.2rem;
    }
    
    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .contenedor-tarjeta-uno .tarjeta-uno {
        font-size: 1.2rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-precio-oferta .texto-precio-oferta{
        font-size: 1.3rem;
    }

    .contenedor-precio-unitario-productos-antes-despues-doble-1 .texto-precio-unitario{
        font-size: 1.3rem;
    }

    .contenedor-detalles-productos-antes-despues-doble-1 .texto-detalle1-productos-antes-despues-doble-1{
        font-size: 1.2rem;
    }

}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contenedor-producto-antes-despues-doble-boton-1 .boton-compra{
        font-size: 1.2rem;
    }

    .contenedor-producto-antes-despues-doble-1{
        flex-direction: row;
    }

    .contenedor-antes-despues-tarjeta-oferta-detalles-1{
        height: 18rem;
    }

    .contenedor-antes-desp-productos-antes-despues-doble-1 .texto-antes-product{
        font-size: 1.2rem;
    }
    
    .contenedor-antes-desp-productos-antes-despues-doble-1 .texto-despues-product{
        font-size: 1.2rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .texto-tarj-product{
        font-size: 1.2rem;
    }
    
    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .contenedor-tarjeta-uno .tarjeta-uno {
        font-size: 1.2rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-precio-oferta .texto-precio-oferta{
        font-size: 1.3rem;
    }

    .contenedor-precio-unitario-productos-antes-despues-doble-1 .texto-precio-unitario{
        font-size: 1.3rem;
    }

    .contenedor-detalles-productos-antes-despues-doble-1 .texto-detalle1-productos-antes-despues-doble-1{
        font-size: 1.2rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and  (min-width: 1441px) {
    .contenedor-producto-antes-despues-doble-boton-1 .boton-compra{
        font-size: 1.4rem;
    }

    .contenedor-producto-antes-despues-doble-1{
        flex-direction: row;
    }

    .contenedor-antes-despues-tarjeta-oferta-detalles-1{
        height: 20rem;
    }

    .contenedor-antes-desp-productos-antes-despues-doble-1 .texto-antes-product{
        font-size: 1.4rem;
    }
    
    .contenedor-antes-desp-productos-antes-despues-doble-1 .texto-despues-product{
        font-size: 1.4rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .texto-tarj-product{
        font-size: 1.4rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .contenedor-tarjeta-uno{
        padding: 0.4rem;
    }
    
    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-pagando-con-tu-tarjeta-uno .contenedor-tarjeta-uno .tarjeta-uno {
        font-size: 1.4rem;
    }

    .contenedor-tarjeta-uno-precio-oferta-productos-antes-despues-doble-1 .contenedor-precio-oferta .texto-precio-oferta{
        font-size: 1.5rem;
    }

    .contenedor-precio-unitario-productos-antes-despues-doble-1 .texto-precio-unitario{
        font-size: 1.5rem;
    }

    .contenedor-detalles-productos-antes-despues-doble-1 .texto-detalle1-productos-antes-despues-doble-1{
        font-size: 1.4rem;
    }
}

