*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.contenedor-productos-antes-despues-doble-2{
    height: auto;
    background-size: 300% 300%;
    animation: gradientAnimation 8s ease infinite;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/*modo claro*/
.light-mode .contenedor-productos-antes-despues-doble-2{
    background: linear-gradient(135deg, #998000, #ac1315, #51158a, #016885);
}
/*modo oscuro*/
.dark-mode .contenedor-productos-antes-despues-doble-2{
    background: linear-gradient(135deg, #5f4f01, #58090b, #310d53, #023b4b);
}

.contenedor-producto-antes-despues-doble-2-boton{
    padding: 0.5rem;
    width: auto;
    height: auto;
    background-size: 300% 300%;
    animation: gradientAnimation 8s ease infinite;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

/*modo claro*/
.light-mode .contenedor-producto-antes-despues-doble-2-boton{
    background: linear-gradient(135deg, #e2bd02, #fa3c40, #8a2be2, #00c9ff);
}
/*modo oscuro*/
.dark-mode .contenedor-producto-antes-despues-doble-2-boton{
    background: linear-gradient(135deg, #5f4f01, #58090b, #310d53, #023b4b);
}

@keyframes gradientAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.contenedor-detalles-producto-antes-despues-doble-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.contenedor-texto-detalles-producto-antes-despues-doble-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.contenedor-antes-despues-prod-ante-des-dob-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-antes-despues-prod-ante-des-dob-2 .texto-antes{
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    text-decoration: line-through;
    text-decoration-color: #ff0000;
}

.contenedor-antes-despues-prod-ante-des-dob-2 .texto-despues{
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
}

.contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .texto-pagando{
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
}

.contenedor-texto-detalles-producto-antes-despues-doble-2 .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .contenedor-tarjeta-uno {
    padding: 0.4rem;
    border-radius: 50%;
    width: auto;
    background-color: #fbff02; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
.contenedor-texto-detalles-producto-antes-despues-doble-2 .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .contenedor-tarjeta-uno .tarjeta-uno {
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
}


.contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2{
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2 .texto-oferta{
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
}

.contenedor-texto-nombre-producto-ante-desp-doble-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-texto-nombre-producto-ante-desp-doble-2 .texto-nombre-producto{
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
}

.contenedor-imagen-producto-antes-despues-doble-2{
    width: 60%;
    height: 7rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-imagen-producto-antes-despues-doble-2 .imagen-producto-antes-despues-doble-2{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.contenedor-producto-antes-despues-doble-2-boton .boton-accion{
    margin-top: 0.5rem;
}

/*modo claro*/
.light-mode .contenedor-producto-antes-despues-doble-2-boton .boton-accion{
    background-color: #200a9c;
}

/*modo claro*/
.light-mode  .contenedor-producto-antes-despues-doble-2-boton .boton-accion:active{
    background-color: #392a8f;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px) {
    .contenedor-antes-despues-prod-ante-des-dob-2 .texto-antes{
        font-size: 1.1rem;
    }
    
    .contenedor-antes-despues-prod-ante-des-dob-2 .texto-despues{
        font-size: 1.1rem;
    }

    .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .texto-pagando{
        font-size: 1.1rem;
    }

    .contenedor-texto-detalles-producto-antes-despues-doble-2 .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .contenedor-tarjeta-uno .tarjeta-uno {
        font-size: 1.1rem;
    }

    .contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2 .texto-oferta{
        font-size: 1.1rem;
    }

    .contenedor-texto-nombre-producto-ante-desp-doble-2 .texto-nombre-producto{
        font-size: 1.1rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .contenedor-productos-antes-despues-doble-2{
        justify-content: space-around;
    }

    .contenedor-texto-detalles-producto-antes-despues-doble-2{
        flex-direction: row;
    }

    .contenedor-detalles-producto-antes-despues-doble-2{
        flex-direction: column;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2{
        gap: 1rem;
    }

    .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2{
        gap: 1rem;
    }

    .contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2{
        height: 13.5rem;
        gap: 1rem;
    }

    .contenedor-imagen-producto-antes-despues-doble-2{
        height: 18rem;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2 .texto-antes{
        font-size: 1.1rem;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2 .texto-despues{
        font-size: 1.1rem;
    }

    .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .texto-pagando{
        font-size: 1.1rem;
    }

    .contenedor-texto-detalles-producto-antes-despues-doble-2 .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .contenedor-tarjeta-uno .tarjeta-uno {
        font-size: 1.1rem;
    }

    .contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2 .texto-oferta{
        font-size: 1.1rem;
    }

    .contenedor-texto-nombre-producto-ante-desp-doble-2 .texto-nombre-producto{
        font-size: 1.1rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor-productos-antes-despues-doble-2{
        justify-content: space-around;
    }

    .contenedor-texto-detalles-producto-antes-despues-doble-2{
        flex-direction: row;
    }

    .contenedor-detalles-producto-antes-despues-doble-2{
        flex-direction: row;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2{
        gap: 1rem;
    }

    .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2{
        gap: 1rem;
    }

    .contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2{
        height: 13.5rem;
        gap: 1rem;
    }

    .contenedor-imagen-producto-antes-despues-doble-2{
        height: 18rem;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2 .texto-antes{
        font-size: 1.2rem;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2 .texto-despues{
        font-size: 1.2rem;
    }

    .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .texto-pagando{
        font-size: 1.2rem;
    }

    .contenedor-texto-detalles-producto-antes-despues-doble-2 .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .contenedor-tarjeta-uno .tarjeta-uno {
        font-size: 1.2rem;
    }

    .contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2 .texto-oferta{
        font-size: 1.2rem;
    }

    .contenedor-texto-nombre-producto-ante-desp-doble-2 .texto-nombre-producto{
        font-size: 1.2rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contenedor-productos-antes-despues-doble-2{
        justify-content: space-around;
    }

    .contenedor-texto-detalles-producto-antes-despues-doble-2{
        flex-direction: row;
    }

    .contenedor-detalles-producto-antes-despues-doble-2{
        flex-direction: row;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2{
        gap: 1rem;
    }

    .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2{
        gap: 1rem;
    }

    .contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2{
        height: 13.5rem;
        gap: 1rem;
    }

    .contenedor-imagen-producto-antes-despues-doble-2{
        height: 18.2rem;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2 .texto-antes{
        font-size: 1.2rem;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2 .texto-despues{
        font-size: 1.2rem;
    }

    .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .texto-pagando{
        font-size: 1.2rem;
    }

    .contenedor-texto-detalles-producto-antes-despues-doble-2 .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .contenedor-tarjeta-uno .tarjeta-uno {
        font-size: 1.2rem;
    }

    .contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2 .texto-oferta{
        font-size: 1.2rem;
    }

    .contenedor-texto-nombre-producto-ante-desp-doble-2 .texto-nombre-producto{
        font-size: 1.2rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px){
    .contenedor-productos-antes-despues-doble-2{
        justify-content: space-around;
    }

    .contenedor-texto-detalles-producto-antes-despues-doble-2{
        flex-direction: row;
    }

    .contenedor-detalles-producto-antes-despues-doble-2{
        flex-direction: row;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2{
        gap: 1rem;
    }

    .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2{
        gap: 1rem;
    }

    .contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2{
        height: 13.5rem;
        gap: 1rem;
    }

    .contenedor-imagen-producto-antes-despues-doble-2{
        height: 19.5rem;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2 .texto-antes{
        font-size: 1.4rem;
    }

    .contenedor-antes-despues-prod-ante-des-dob-2 .texto-despues{
        font-size: 1.4rem;
    }

    .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .texto-pagando{
        font-size: 1.4rem;
    }

    .contenedor-texto-detalles-producto-antes-despues-doble-2 .contenedor-pagando-tarjeta-uno-prod-ante-des-dob-2 .contenedor-tarjeta-uno .tarjeta-uno {
        font-size: 1.4rem;
    }

    .contenedor-texto-oferta-nombre-producto-prod-ante-des-dob-2 .texto-oferta{
        font-size: 1.4rem;
    }

    .contenedor-texto-nombre-producto-ante-desp-doble-2 .texto-nombre-producto{
        font-size: 1.4rem;
    }
}