*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.cabecera-titulo-estreno-ultimo-producto{
    margin-bottom: 1.2rem;
    width: 100%;
    height: auto;
}

.cabecera-titulo-estreno-ultimo-producto .titulo-estreno-ultimo-producto{
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

/*modo claro*/
.light-mode .cabecera-titulo-estreno-ultimo-producto .titulo-estreno-ultimo-producto{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .cabecera-titulo-estreno-ultimo-producto .titulo-estreno-ultimo-producto{
    color: #ffffff;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px){
    .cabecera-titulo-estreno-ultimo-producto .titulo-estreno-ultimo-producto{
        font-size: 1.4rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .cabecera-titulo-estreno-ultimo-producto .titulo-estreno-ultimo-producto{
        font-size: 1.4rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .cabecera-titulo-estreno-ultimo-producto .titulo-estreno-ultimo-producto{
        font-size: 1.5rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .cabecera-titulo-estreno-ultimo-producto .titulo-estreno-ultimo-producto{
        font-size: 1.5rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px){
    .cabecera-titulo-estreno-ultimo-producto .titulo-estreno-ultimo-producto{
        font-size: 1.7rem;
    }
}