*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body, html{
    height: 100%;
}

.contenedor-autenticacion-iniciar-seccion-derechos-footer{
    margin: 0 auto;
    width: 100%;
    height: auto;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*modo claro*/
.light-mode .contenedor-autenticacion-iniciar-seccion-derechos-footer{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-autenticacion-iniciar-seccion-derechos-footer{
    background-color: #000000;
}

.contenedor-autenticacion-iniciar-seccion{
    margin-bottom: 14.3rem;
    width: 100%;
    min-height: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/*modo claro*/
.light-mode .contenedor-autenticacion-iniciar-seccion{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-autenticacion-iniciar-seccion{
    background-color: #000000;
}

.contenedor-eligir-opcion-ingresar{
    width: 100%;
    height: auto;
    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*modo claro*/
.light-mode .contenedor-eligir-opcion-ingresar{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-eligir-opcion-ingresar{
    background-color: #000000;
}

.contenedor-eligir-opcion-ingresar .texto-eligir-opcion-ingresar{
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-eligir-opcion-ingresar .texto-eligir-opcion-ingresar{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-eligir-opcion-ingresar .texto-eligir-opcion-ingresar{
    color: #ffffff;
}

.contenedor-iniciar-seccion-clave-acceso-ingresar-google-terminos-condiciones{
    margin-bottom: 1rem;
    width: 95%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/*modo claro*/
.light-mode .contenedor-iniciar-seccion-clave-acceso-ingresar-google-terminos-condiciones{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-iniciar-seccion-clave-acceso-ingresar-google-terminos-condiciones{
    background-color: #000000;
}

.contenedor-inicio-seccion{
    width: 95%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/*modo claro*/
.light-mode .contenedor-inicio-seccion{
    background-color: #c9c3c3e5;
}
/*modo oscuro*/
.dark-mode .contenedor-inicio-seccion{
    background-color: #202020e5;
}

.contenedor-iniciar-con-email-contrasena .texto-iniciar-con-email-contrasena{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

/*modo claro*/
.light-mode .contenedor-iniciar-con-email-contrasena .texto-iniciar-con-email-contrasena{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-iniciar-con-email-contrasena .texto-iniciar-con-email-contrasena{
    color: #ffffff;
}

.contenedor-ingresar-email{
    width: 95%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

/*modo claro*/
.light-mode .contenedor-ingresar-email{
    background-color: #ffffff;
    border: 1px solid #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-ingresar-email{
    background-color: #000000;
    border: 1px solid #ffffff;
}

.contenedor-ingresar-email input{
    width: 100%;
    height: auto;
    border: none;
    font-size: 1rem;
}

/*modo claro*/
.light-mode .contenedor-ingresar-email input{
    background-color: #ffffff;
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-ingresar-email input{
    background-color: #000000;
    color: #ffffff;
}

.contenedor-ingresar-email input:focus{
    outline: none;
}

.contenedor-icono-ingresar-contrasena{
    width: 95%;
    height: auto;
    padding: 1rem;
    border-radius: 0.7rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
}

/*modo claro*/
.light-mode .contenedor-icono-ingresar-contrasena{
    background-color: #ffffffe5;
    border: 1px solid #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-icono-ingresar-contrasena{
    background-color: #000000;
    border: 1px solid #ffffff;
}

.contenedor-icono-ingresar-contrasena .icono-visualizar-contrasena{
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-icono-ingresar-contrasena .icono-visualizar-contrasena{
    color: #312f2fe5;
}
/*modo oscuro*/
.dark-mode .contenedor-icono-ingresar-contrasena .icono-visualizar-contrasena{
    color: #ffffff;
}

.contenedor-icono-ingresar-contrasena input{
    width: 100%;
    height: auto;
    border: none;
    font-size: 1rem;
}

/*modo claro*/
.light-mode .contenedor-icono-ingresar-contrasena input{
    background-color: #ffffffe5;
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-icono-ingresar-contrasena input{
    background-color: #000000;
    color: #ffffff;
}

.contenedor-icono-ingresar-contrasena input:focus{
    outline: none;
}

.contenedor-olvidaste-contrasena{
    width: 95%;
    height: auto;
}

.contenedor-olvidaste-contrasena .texto-olvidaste-contrasena{
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

/*modo claro*/
.light-mode .contenedor-olvidaste-contrasena .texto-olvidaste-contrasena{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-olvidaste-contrasena .texto-olvidaste-contrasena{
    color: #ffffff;
}

.contenedor-inicio-seccion .boton-entrar{
    padding: 0.8rem;
    width: 95%;
    height: auto;
    border: none;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: #fc5304;
    cursor: pointer;
}

.contenedor-inicio-seccion .boton-entrar:active{
    background-color: #e9743d;
}

.link-sin-contrasena-creala{
    width: 95%;
    height: auto;
}

.contenedor-clave-acceso-ingresar-con-google-terminos-condiciones{
    padding: 0.5rem;
    width: 95%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/*modo claro*/
.light-mode .contenedor-clave-acceso-ingresar-con-google-terminos-condiciones{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-clave-acceso-ingresar-con-google-terminos-condiciones{
    background-color: #000000;
}

.contenedor-sin-contrasena-creala{
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
}

.contenedor-sin-contrasena-creala .texto-sin-contrasena-creala{
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

/*modo claro*/
.light-mode .contenedor-sin-contrasena-creala .texto-sin-contrasena-creala{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-sin-contrasena-creala .texto-sin-contrasena-creala{
    color: #ffffff;
}

.contenedor-recibir-clave-acceso{
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

/*modo claro*/
.light-mode .contenedor-recibir-clave-acceso{
    background-color: #ffffff;
    border: 1px solid #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-recibir-clave-acceso{
    background-color: #000000;
    border: 1px solid #ffffff;
}

.contenedor-recibir-clave-acceso .texto-recibir-clave-acceso{
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-recibir-clave-acceso .texto-recibir-clave-acceso{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-recibir-clave-acceso .texto-recibir-clave-acceso{
    color: #ffffff;
}

.contenedor-icono-ingresar-con-google{
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

/*modo claro*/
.light-mode .contenedor-icono-ingresar-con-google{
    background-color: #ffffff;
    border: 1px solid #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-icono-ingresar-con-google{
    background-color: #000000;
    border: 1px solid #ffffff;
}

.contenedor-icono-google{
    width: 5.5%;
    height: auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-icono-google .icono-google{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.contenedor-ingresar-con-google .texto-ingresar-con-google{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

/*modo claro*/
.light-mode .contenedor-ingresar-con-google .texto-ingresar-con-google{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-ingresar-con-google .texto-ingresar-con-google{
    color: #ffffff;
}

.contenedor-texto-terminos-condiciones-tratamientos-datos-1 {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1 {
    font-size: 0.8rem;
}

/*modo claro*/
.light-mode .contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1{
    color: #ffffff;
}

.contenedor-texto-terminos-condiciones-tratamientos-datos-1 .subrayado-1 {
    text-decoration: underline;
    font-weight: bold;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px) {
    .contenedor-eligir-opcion-ingresar .texto-eligir-opcion-ingresar{
        font-size: 1.1rem;
    }

    .contenedor-iniciar-con-email-contrasena .texto-iniciar-con-email-contrasena{
        font-size: 1.1rem;
    }

    .contenedor-ingresar-email input{
        font-size: 1.1rem;
    }

    .contenedor-icono-ingresar-contrasena .icono-visualizar-contrasena{
        font-size: 1.1rem;
    }

    .contenedor-icono-ingresar-contrasena input{
        font-size: 1.1rem;
    }

    .contenedor-olvidaste-contrasena .texto-olvidaste-contrasena{
        font-size: 1.1rem;
    }

    .contenedor-inicio-seccion .boton-entrar{
        font-size: 1.1rem;
    }

    .contenedor-sin-contrasena-creala .texto-sin-contrasena-creala{
        font-size: 1.1rem;
    }

    .contenedor-recibir-clave-acceso .texto-recibir-clave-acceso{
        font-size: 1.1rem;
    }

    .contenedor-ingresar-con-google .texto-ingresar-con-google{
        font-size: 1.1rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .contenedor-autenticacion-iniciar-seccion{
        margin-bottom: 15rem;
    }

    .contenedor-iniciar-seccion-clave-acceso-ingresar-google-terminos-condiciones{
        flex-direction: row-reverse;
    }

    .contenedor-clave-acceso-ingresar-con-google-terminos-condiciones{
        width: 55%;
    }

    .contenedor-icono-ingresar-con-google{
        justify-content: center;
    }

    .contenedor-icono-google{
        width: 10%;
    }

    .contenedor-eligir-opcion-ingresar .texto-eligir-opcion-ingresar{
        font-size: 1.1rem;
    }

    .contenedor-iniciar-con-email-contrasena .texto-iniciar-con-email-contrasena{
        font-size: 1.1rem;
    }

    .contenedor-ingresar-email input{
        font-size: 1.1rem;
    }

    .contenedor-icono-ingresar-contrasena .icono-visualizar-contrasena{
        font-size: 1.1rem;
    }

    .contenedor-icono-ingresar-contrasena input{
        font-size: 1.1rem;
    }

    .contenedor-olvidaste-contrasena .texto-olvidaste-contrasena{
        font-size: 1.1rem;
    }

    .contenedor-inicio-seccion .boton-entrar{
        font-size: 1.1rem;
    }

    .contenedor-sin-contrasena-creala .texto-sin-contrasena-creala{
        font-size: 1.1rem;
    }

    .contenedor-recibir-clave-acceso .texto-recibir-clave-acceso{
        font-size: 1.1rem;
        text-align: center;
    }

    .contenedor-ingresar-con-google .texto-ingresar-con-google{
        font-size: 1.1rem;
    }  
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor-autenticacion-iniciar-seccion{
        margin-bottom: 15.4rem;
    }

    .contenedor-iniciar-seccion-clave-acceso-ingresar-google-terminos-condiciones{
        flex-direction: row-reverse;
    }

    .contenedor-clave-acceso-ingresar-con-google-terminos-condiciones{
        width: 55%;
    }

    .contenedor-icono-ingresar-con-google{
        justify-content: center;
    }

    .contenedor-icono-google{
        width: 7.5%;
    }

    .contenedor-eligir-opcion-ingresar .texto-eligir-opcion-ingresar{
        font-size: 1.2rem;
    }

    .contenedor-iniciar-con-email-contrasena .texto-iniciar-con-email-contrasena{
        font-size: 1.2rem;
    }

    .contenedor-ingresar-email input{
        font-size: 1.2rem;
    }

    .contenedor-icono-ingresar-contrasena .icono-visualizar-contrasena{
        font-size: 1.2rem;
    }

    .contenedor-icono-ingresar-contrasena input{
        font-size: 1.2rem;
    }

    .contenedor-olvidaste-contrasena .texto-olvidaste-contrasena{
        font-size: 1.2rem;
    }

    .contenedor-inicio-seccion .boton-entrar{
        font-size: 1.2rem;
    }

    .contenedor-sin-contrasena-creala .texto-sin-contrasena-creala{
        font-size: 1.2rem;
    }

    .contenedor-recibir-clave-acceso .texto-recibir-clave-acceso{
        font-size: 1.2rem;
        text-align: center;
    }

    .contenedor-ingresar-con-google .texto-ingresar-con-google{
        font-size: 1.2rem;
    }

    .contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1 {
        font-size: 0.9rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contenedor-autenticacion-iniciar-seccion{
        margin-bottom: 15rem;
    }

    .contenedor-iniciar-seccion-clave-acceso-ingresar-google-terminos-condiciones{
        flex-direction: row-reverse;
    }

    .contenedor-clave-acceso-ingresar-con-google-terminos-condiciones{
        width: 55%;
    }

    .contenedor-icono-ingresar-con-google{
        justify-content: center;
    }

    .contenedor-icono-google{
        width: 5.5%;
    }

    .contenedor-eligir-opcion-ingresar .texto-eligir-opcion-ingresar{
        font-size: 1.2rem;
    }

    .contenedor-iniciar-con-email-contrasena .texto-iniciar-con-email-contrasena{
        font-size: 1.2rem;
    }

    .contenedor-ingresar-email input{
        font-size: 1.2rem;
    }

    .contenedor-icono-ingresar-contrasena .icono-visualizar-contrasena{
        font-size: 1.2rem;
    }

    .contenedor-icono-ingresar-contrasena input{
        font-size: 1.2rem;
    }

    .contenedor-olvidaste-contrasena .texto-olvidaste-contrasena{
        font-size: 1.2rem;
    }

    .contenedor-inicio-seccion .boton-entrar{
        font-size: 1.2rem;
    }

    .contenedor-sin-contrasena-creala .texto-sin-contrasena-creala{
        font-size: 1.2rem;
    }

    .contenedor-recibir-clave-acceso .texto-recibir-clave-acceso{
        font-size: 1.2rem;
        text-align: center;
    }

    .contenedor-ingresar-con-google .texto-ingresar-con-google{
        font-size: 1.2rem;
    }

    .contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1 {
        font-size: 0.9rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px){
    .contenedor-autenticacion-iniciar-seccion{
        margin-bottom: 15.2rem;
    }

    .contenedor-iniciar-seccion-clave-acceso-ingresar-google-terminos-condiciones{
        flex-direction: row-reverse;
    }

    .contenedor-clave-acceso-ingresar-con-google-terminos-condiciones{
        width: 55%;
    }

    .contenedor-icono-ingresar-con-google{
        justify-content: center;
    }

    .contenedor-icono-google{
        width: 5.5%;
    }

    .contenedor-eligir-opcion-ingresar .texto-eligir-opcion-ingresar{
        font-size: 1.4rem;
    }

    .contenedor-iniciar-con-email-contrasena .texto-iniciar-con-email-contrasena{
        font-size: 1.4rem;
    }

    .contenedor-ingresar-email input{
        font-size: 1.4rem;
    }

    .contenedor-icono-ingresar-contrasena .icono-visualizar-contrasena{
        font-size: 1.4rem;
    }

    .contenedor-icono-ingresar-contrasena input{
        font-size: 1.4rem;
    }

    .contenedor-olvidaste-contrasena .texto-olvidaste-contrasena{
        font-size: 1.4rem;
    }

    .contenedor-inicio-seccion .boton-entrar{
        font-size: 1.4rem;
    }

    .contenedor-sin-contrasena-creala .texto-sin-contrasena-creala{
        font-size: 1.4rem;
    }

    .contenedor-recibir-clave-acceso .texto-recibir-clave-acceso{
        font-size: 1.4rem;
        text-align: center;
    }

    .contenedor-ingresar-con-google .texto-ingresar-con-google{
        font-size: 1.4rem;
    }

    .contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1 {
        font-size: 1rem;
    }
}