* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body,
html {
    height: 100%;
}

.contenedor-autenticacion-crear-cuenta-derechos-footer-1 {
    margin: 0 auto;
    width: 100%;
    height: auto;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*modo claro*/
.light-mode .contenedor-autenticacion-crear-cuenta-derechos-footer-1{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-autenticacion-crear-cuenta-derechos-footer-1{
    background-color: #000000;
}


.contenedor-autenticacion-crear-cuenta-1 {
    margin-bottom: 11.8rem;
    width: 100%;
    min-height: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/*modo claro*/
.light-mode .contenedor-autenticacion-crear-cuenta-1{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-autenticacion-crear-cuenta-1{
    background-color: #000000;
}


.contenedor-eligir-opcion-ingresar-1 {
    width: 100%;
    height: auto;
    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*modo claro*/
.light-mode .contenedor-eligir-opcion-ingresar-1{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-eligir-opcion-ingresar-1{
    background-color: #000000;
}

.contenedor-eligir-opcion-ingresar-1 .texto-eligir-opcion-ingresar-1 {
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-eligir-opcion-ingresar-1 .texto-eligir-opcion-ingresar-1{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-eligir-opcion-ingresar-1 .texto-eligir-opcion-ingresar-1{
    color: #ffffff;
}

.contenedor-crear-cuenta-clave-acceso-ingresar-terminos-condiciones-1 {
    width: 95%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/*modo claro*/
.light-mode .contenedor-crear-cuenta-clave-acceso-ingresar-terminos-condiciones-1{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-crear-cuenta-clave-acceso-ingresar-terminos-condiciones-1{
    background-color: #000000;
}

.contenedor-crear-cuenta-1 {
    width: 95%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/*modo claro*/
.light-mode .contenedor-crear-cuenta-1{
    background-color: #c9c3c3e5;
}
/*modo oscuro*/
.dark-mode .contenedor-crear-cuenta-1{
    background-color: #202020e5;
}

.contenedor-titulo-ingresar-email-1 .texto-titulo-ingresar-email-1 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

/*modo claro*/
.light-mode .contenedor-titulo-ingresar-email-1 .texto-titulo-ingresar-email-1{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-titulo-ingresar-email-1 .texto-titulo-ingresar-email-1{
    color: #ffffff;
}

.contenedor-ingresar-email-1 {
    width: 95%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/*modo claro*/
.light-mode .contenedor-ingresar-email-1{
    background-color: #ffffff;
    border: 1px solid #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-ingresar-email-1{
    background-color: #000000;
    border: 1px solid #ffffff;
}

.contenedor-ingresar-email-1 input {
    width: 100%;
    height: auto;
    border: none;
    font-size: 1rem;
}

/*modo claro*/
.light-mode .contenedor-ingresar-email-1 input{
    background-color: #ffffff;
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-ingresar-email-1 input{
    background-color: #000000;
    color: #ffffff;
}

.contenedor-ingresar-email-1 input:focus {
    outline: none;
}

.contenedor-crear-cuenta-1 .boton-enviar {
    padding: 0.8rem;
    width: 95%;
    height: auto;
    border: none;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: #fc5304;
    cursor: pointer;
}

.contenedor-crear-cuenta-1 .boton-enviar:active {
    background-color: #e9743d;
}

.link-boton-volver-1 {
    width: 95%;
    height: auto;
    margin-bottom: 1rem;
}

.contenedor-clave-acceso-ingresar-email-contrasena-terminos-condiciones-1 {
    padding: 0.5rem;
    width: 95%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

/*modo claro*/
.light-mode .contenedor-clave-acceso-ingresar-email-contrasena-terminos-condiciones-1{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-clave-acceso-ingresar-email-contrasena-terminos-condiciones-1{
    background-color: #000000;
}

.contenedor-crear-cuenta-1 .boton-volver {
    padding: 0.8rem;
    width: 100%;
    height: auto;
    border: 2px solid #281ae7;
    border-radius: 0.5rem;
    color: #281ae7;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

/*modo claro*/
.light-mode .contenedor-crear-cuenta-1 .boton-volver{
    background-color: #c9c3c3e5;
}
/*modo oscuro*/
.dark-mode .contenedor-crear-cuenta-1 .boton-volver{
    background-color: #000000;
}

/*modo claro*/
.light-mode .contenedor-crear-cuenta-1 .boton-volver:active {
    background-color: #ada7a7e5;
}
/*modo oscuro*/
.dark-mode .contenedor-crear-cuenta-1 .boton-volver:active{
    background-color: #1b1a1a;
}


.contenedor-recibir-clave-acceso-1 {
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    
    cursor: pointer;
}

/*modo claro*/
.light-mode .contenedor-recibir-clave-acceso-1{
    background-color: #ffffff;
    border: 1px solid #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-recibir-clave-acceso-1{
    background-color: #000000;
    border: 1px solid #ffffff;
}

.contenedor-recibir-clave-acceso-1 .texto-recibir-clave-acceso-1 {
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-recibir-clave-acceso-1 .texto-recibir-clave-acceso-1{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-recibir-clave-acceso-1 .texto-recibir-clave-acceso-1{
    color: #ffffff;
}

.link-ingresar-email-contrasena-1 {
    width: 100%;
    height: auto;
    text-decoration: none;
}

.contenedor-ingresar-email-contrasena-1 {
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
}

/*modo claro*/
.light-mode .contenedor-ingresar-email-contrasena-1{
    background-color: #ffffff;
    border: 1px solid #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-ingresar-email-contrasena-1{
    background-color: #000000;
    border: 1px solid #ffffff;
}

.contenedor-ingresar-email-contrasena-1 .texto-ingresar-email-contrasena-1 {
    font-size: 1rem;
    font-weight: bold;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-ingresar-email-contrasena-1 .texto-ingresar-email-contrasena-1{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-ingresar-email-contrasena-1 .texto-ingresar-email-contrasena-1{
    color: #ffffff;
}

.contenedor-texto-terminos-condiciones-tratamientos-datos-1 {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1 {
    font-size: 0.8rem;
}

/*modo claro*/
.light-mode .contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1{
    color: #ffffff;
}

.contenedor-texto-terminos-condiciones-tratamientos-datos-1 .subrayado-1 {
    text-decoration: underline;
    font-weight: bold;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px){
    .contenedor-eligir-opcion-ingresar-1 .texto-eligir-opcion-ingresar-1 {
        font-size: 1.1rem;
    }

    .contenedor-titulo-ingresar-email-1 .texto-titulo-ingresar-email-1 {
        font-size: 1.1rem;
    }

    .contenedor-ingresar-email-1 input {
        font-size: 1.1rem;
    }

    .contenedor-crear-cuenta-1 .boton-enviar {
        font-size: 1.1rem;
    }

    .contenedor-crear-cuenta-1 .boton-volver {
        font-size: 1.1rem;
    }

    .contenedor-recibir-clave-acceso-1 .texto-recibir-clave-acceso-1 {
        font-size: 1.1rem;
    }

    .contenedor-ingresar-email-contrasena-1 .texto-ingresar-email-contrasena-1 {
        font-size: 1.1rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape) {
    .contenedor-autenticacion-crear-cuenta-1 {
        margin-bottom: 11.9rem;
    }

    .contenedor-crear-cuenta-clave-acceso-ingresar-terminos-condiciones-1 {
        flex-direction: row-reverse;
    }

    .contenedor-clave-acceso-ingresar-email-contrasena-terminos-condiciones-1 {
        width: 55%;
    }

    .contenedor-eligir-opcion-ingresar-1 .texto-eligir-opcion-ingresar-1 {
        font-size: 1.1rem;
    }

    .contenedor-titulo-ingresar-email-1 .texto-titulo-ingresar-email-1 {
        font-size: 1.1rem;
    }

    .contenedor-ingresar-email-1 input {
        font-size: 1.1rem;
    }

    .contenedor-crear-cuenta-1 .boton-enviar {
        font-size: 1.1rem;
    }

    .contenedor-crear-cuenta-1 .boton-volver {
        font-size: 1.1rem;
    }

    .contenedor-recibir-clave-acceso-1 .texto-recibir-clave-acceso-1 {
        font-size: 1.1rem;
        text-align: center;
    }

    .contenedor-ingresar-email-contrasena-1 .texto-ingresar-email-contrasena-1 {
        font-size: 1.1rem;
        text-align: center;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-autenticacion-crear-cuenta-1 {
        margin-bottom: 12.2rem;
    }

    .contenedor-crear-cuenta-clave-acceso-ingresar-terminos-condiciones-1 {
        flex-direction: row-reverse;
    }

    .contenedor-clave-acceso-ingresar-email-contrasena-terminos-condiciones-1 {
        width: 55%;
    }

    .contenedor-eligir-opcion-ingresar-1 .texto-eligir-opcion-ingresar-1 {
        font-size: 1.2rem;
    }

    .contenedor-titulo-ingresar-email-1 .texto-titulo-ingresar-email-1 {
        font-size: 1.2rem;
    }

    .contenedor-ingresar-email-1 input {
        font-size: 1.2rem;
    }

    .contenedor-crear-cuenta-1 .boton-enviar {
        font-size: 1.2rem;
    }

    .contenedor-crear-cuenta-1 .boton-volver {
        font-size: 1.2rem;
    }

    .contenedor-recibir-clave-acceso-1 .texto-recibir-clave-acceso-1 {
        font-size: 1.2rem;
        text-align: center;
    }

    .contenedor-ingresar-email-contrasena-1 .texto-ingresar-email-contrasena-1 {
        font-size: 1.2rem;
        text-align: center;
    }

    .contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1 {
        font-size: 0.9rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .contenedor-autenticacion-crear-cuenta-1 {
        margin-bottom: 11.9rem;
    }

    .contenedor-crear-cuenta-clave-acceso-ingresar-terminos-condiciones-1 {
        flex-direction: row-reverse;
    }

    .contenedor-clave-acceso-ingresar-email-contrasena-terminos-condiciones-1 {
        width: 60%;
    }

    .contenedor-eligir-opcion-ingresar-1 .texto-eligir-opcion-ingresar-1 {
        font-size: 1.2rem;
    }

    .contenedor-titulo-ingresar-email-1 .texto-titulo-ingresar-email-1 {
        font-size: 1.2rem;
    }

    .contenedor-ingresar-email-1 input {
        font-size: 1.2rem;
    }

    .contenedor-crear-cuenta-1 .boton-enviar {
        font-size: 1.2rem;
    }

    .contenedor-crear-cuenta-1 .boton-volver {
        font-size: 1.2rem;
    }

    .contenedor-recibir-clave-acceso-1 .texto-recibir-clave-acceso-1 {
        font-size: 1.2rem;
        text-align: center;
    }

    .contenedor-ingresar-email-contrasena-1 .texto-ingresar-email-contrasena-1 {
        font-size: 1.2rem;
        text-align: center;
    }

    .contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1 {
        font-size: 0.9rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px) {
    .contenedor-autenticacion-crear-cuenta-1 {
        margin-bottom: 12.2rem;
    }

    .contenedor-crear-cuenta-clave-acceso-ingresar-terminos-condiciones-1 {
        flex-direction: row-reverse;
    }

    .contenedor-clave-acceso-ingresar-email-contrasena-terminos-condiciones-1 {
        width: 65%;
    }

    .contenedor-eligir-opcion-ingresar-1 .texto-eligir-opcion-ingresar-1 {
        font-size: 1.4rem;
    }

    .contenedor-titulo-ingresar-email-1 .texto-titulo-ingresar-email-1 {
        font-size: 1.4rem;
    }

    .contenedor-ingresar-email-1 input {
        font-size: 1.4rem;
    }

    .contenedor-crear-cuenta-1 .boton-enviar {
        font-size: 1.4rem;
    }

    .contenedor-crear-cuenta-1 .boton-volver {
        font-size: 1.4rem;
    }

    .contenedor-recibir-clave-acceso-1 .texto-recibir-clave-acceso-1 {
        font-size: 1.4rem;
        text-align: center;
    }

    .contenedor-ingresar-email-contrasena-1 .texto-ingresar-email-contrasena-1 {
        font-size: 1.4rem;
        text-align: center;
    }

    .contenedor-texto-terminos-condiciones-tratamientos-datos-1 .texto-terminos-condiciones-tratamientos-datos-1 {
        font-size: 1rem;
    }
}