* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.contenedor-padre {
    width: 100%;
    height: auto;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;
}

.contenedor-padre>*:not(FooterCompleto) {
    flex-grow: 1;
}

/*modo claro*/
.light-mode .contenedor-padre {
    background-color: #ffffff;
}

/*modo oscuro*/
.dark-mode .contenedor-padre {
    background-color: #3b3b3b;
}

.no-scroll {
    overflow: hidden;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    pointer-events: none;
}

.overlay-active .overlay {
    pointer-events: auto;
}

.contenedor-contenido-menu-hamburguesa-novedades-categoria {
    width: 90%;
    min-height: 100%;
    height: 100vh;

    display: none;

    position: fixed;

    z-index: 1001;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/*modo claro*/
.light-mode .contenedor-contenido-menu-hamburguesa-novedades-categoria {
    background-color: #ffffff;
}

/*modo oscuro*/
.dark-mode .contenedor-contenido-menu-hamburguesa-novedades-categoria {
    background-color: #000000;
}


.contenedor-contenido-menu-hamburguesa-novedades-categoria.visible {
    display: block;
}

.contenedor-contenido-menu-hamburguesa-novedades-categoria.hidden {
    display: none;
}

.contenedor-articulos-seccion-1 {
    margin: 8.4rem auto 1rem;
    width: 100%;
    height: auto;
}

.contenedor-articulos-seccion-2 {
    margin: 2rem auto 1rem;
    width: 100%;
    height: auto;
}

.contenedor-articulos-seccion-3 {
    margin: 2rem auto 1rem;
    width: 95%;
    height: auto;
}

.contenedor-articulos-seccion-4 {
    margin: 2rem auto 1rem;
    width: 95%;
    height: auto;
}

.contenedor-articulos-seccion-5 {
    margin: 2rem auto 1rem;
    width: 96%;
    height: auto;
}

.contenedor-articulos-seccion-6 {
    margin: 2rem auto 1rem;
    width: 96%;
    height: auto;
}


.contenedor-recibir-pedido-compra-recoge-envio-domicilio {
    margin: 0 auto 2rem;
    width: 100%;
    max-height: 100%;
    height: 100vh;

    display: none;

    position: fixed;
    z-index: 1002;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/*modo claro*/
.light-mode .contenedor-recibir-pedido-compra-recoge-envio-domicilio {
    background-color: #ffffff;
}

/*modo oscuro*/
.dark-mode .contenedor-recibir-pedido-compra-recoge-envio-domicilio {
    background-color: #161515;
}

.contenedor-recibir-pedido-compra-recoge-envio-domicilio.visible {
    display: block;
}

.contenedor-recibir-pedido-compra-recoge-envio-domicilio.hidden {
    display: none;
}

.contenedor-cuadro-notificaciones {
    margin: 0;
    width: auto;
    max-width: 90%;
    max-height: 100%;
    height: 100vh;
    background-color: transparent;

    display: none;

    position: fixed;
    z-index: 1003;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;


    top: 0;
    right: 0;
    left: auto;
}

.contenedor-cuadro-notificaciones.visible {
    display: block;
}

.contenedor-cuadro-notificaciones.hidden {
    display: none;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .contenedor-articulos-seccion-1 {
        margin: 9.2rem auto 1rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape) {
    .contenedor-articulos-seccion-1 {
        margin: 11.2rem auto 1rem;
    }

    .contenedor-cuadro-notificaciones {
        max-width: 70%;
    }

    .contenedor-contenido-menu-hamburguesa-novedades-categoria {
        max-width: 80%;
    }

}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-articulos-seccion-1 {
        margin: 11.7rem auto 1rem;
    }

    .contenedor-cuadro-notificaciones {
        max-width: 70%;
    }

    .contenedor-contenido-menu-hamburguesa-novedades-categoria {
        max-width: 80%;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .contenedor-articulos-seccion-1 {
        margin: 9.7rem auto 1rem;
    }

    .contenedor-cuadro-notificaciones {
        max-width: 50%;
    }

    .contenedor-contenido-menu-hamburguesa-novedades-categoria {
        max-width: 50%;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px) {
    .contenedor-articulos-seccion-1 {
        margin: 10.5rem auto 1rem;
    }

    .contenedor-cuadro-notificaciones {
        max-width: 50%;
    }

    .contenedor-contenido-menu-hamburguesa-novedades-categoria {
        max-width: 50%;
    }
}