*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.contenedor-actualizar-beneficios-boton-footer{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0.5rem;
}

/*modo claro*/
.light-mode .contenedor-actualizar-beneficios-boton-footer{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-actualizar-beneficios-boton-footer{
    background-color: #161515;
}

.contenedor-actualizar-beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.contenedor-actualizar-beneficios .texto-actualizar-datos{
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-actualizar-beneficios .texto-actualizar-datos{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-actualizar-beneficios .texto-actualizar-datos{
    color: #ffffff;
}

.contenedor-actualizar-beneficios .texto-descubrir-beneficios{
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-actualizar-beneficios .texto-descubrir-beneficios{
    color: #1f1d1d;
}
/*modo oscuro*/
.dark-mode .contenedor-actualizar-beneficios .texto-descubrir-beneficios{
    color: #9c9c9c;
}

.contenedor-actualizar-beneficios-boton-footer .boton-accion{
    background-color: #7c00c4;
}


.contenedor-actualizar-beneficios-boton-footer .boton-accion:active{
    background-color: #8b46b3;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px) {
    .contenedor-actualizar-beneficios .texto-actualizar-datos{
        font-size: 1.1rem;
    }

    .contenedor-actualizar-beneficios .texto-descubrir-beneficios{
        font-size: 1.1rem;
    }
}


/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .contenedor-actualizar-beneficios{
        flex-direction: row;  
    }

    .contenedor-actualizar-beneficios .texto-actualizar-datos{
        font-size: 1.1rem;
    }
    
    .contenedor-actualizar-beneficios .texto-descubrir-beneficios{
        font-size: 1.1rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor-actualizar-beneficios{
        flex-direction: row;  
    }

    .contenedor-actualizar-beneficios .texto-actualizar-datos{
        font-size: 1.2rem;
    }
    
    .contenedor-actualizar-beneficios .texto-descubrir-beneficios{
        font-size: 1.2rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contenedor-actualizar-beneficios{
        flex-direction: row;  
    }

    .contenedor-actualizar-beneficios .texto-actualizar-datos{
        font-size: 1.2rem;
    }
    
    .contenedor-actualizar-beneficios .texto-descubrir-beneficios{
        font-size: 1.2rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px){
    .contenedor-actualizar-beneficios{
        flex-direction: row;  
    }

    .contenedor-actualizar-beneficios .texto-actualizar-datos{
        font-size: 1.4rem;
    }
    
    .contenedor-actualizar-beneficios .texto-descubrir-beneficios{
        font-size: 1.4rem;
    }
}