*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.contenedor-contenido-extra-footer-varios{
    height: auto;
    padding: 0.8rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.5rem;
}

/*modo claro*/
.light-mode .contenedor-contenido-extra-footer-varios{
    background-color: #510280;
}
/*modo oscuro*/
.dark-mode .contenedor-contenido-extra-footer-varios{
    background-color: #2b2929;
}

.contenedor-contenido-extra-footer-varios .contenedor-contenido-extra-footer{
    cursor: pointer;
}


.contenedor-icono-contenido-extra-footer{
    width: auto;
    height: auto;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-icono-contenido-extra-footer .icono-fuego{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

/*modo claro*/
.light-mode .contenedor-icono-contenido-extra-footer .icono-fuego{
    color: #ff0000;
}
/*modo oscuro*/
.dark-mode .contenedor-icono-contenido-extra-footer .icono-fuego{
    color: #ffffff;
}

.contenedor-info-contenido-extra-footer{
    overflow: hidden;
    font-size: 0.7rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px) {
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 1.1rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 1.1rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 0.9rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 1.2rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 0.9rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 1.2rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 1rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px){
    .contenedor-icono-contenido-extra-footer .icono-fuego{
        font-size: 1.4rem;
    }
    
    .contenedor-info-contenido-extra-footer{
        font-size: 1rem;
    }
}
