*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.contenedor-derechos-reservados-footer{
    width: 100%;
    height: auto;
    margin-top: 1.3rem;
    padding: 1.5rem;
    background-color: #000000;
}

/*modo claro*/
.light-mode .contenedor-derechos-reservados-footer{
    border-top: 1px solid #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-derechos-reservados-footer{
    border-top: 1px solid #ffffff;
}

.contenedor-derechos-reservados-footer .texto-creador-derecho-reservados{
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 360px) and (max-width: 374px) {
    .contenedor-derechos-reservados-footer{
        margin-top: 1.5rem;
        padding: 1.5rem;
    }
}

@media screen and (min-width: 390px) {
    .contenedor-derechos-reservados-footer{
        margin-top: 1.6rem;
        padding: 1.5rem;
    }
}


@media screen and (min-width: 414px) {
    .contenedor-derechos-reservados-footer{
        margin-top: 1.2rem;
        padding: 1.5rem;
    }
}

@media screen and (min-width: 430px) {
    .contenedor-derechos-reservados-footer{
        margin-top: 1.2rem;
        padding: 1.5rem;
    }
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px) {
    .contenedor-derechos-reservados-footer{
        margin-top: 1.1rem;
    }
    
    .contenedor-derechos-reservados-footer .texto-creador-derecho-reservados{
        font-size: 1rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .contenedor-derechos-reservados-footer{
        margin-top: 1.2rem;
    }
    
    .contenedor-derechos-reservados-footer .texto-creador-derecho-reservados{
        font-size: 1.1rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor-derechos-reservados-footer{
        margin-top: 1.8rem;
    }

    .contenedor-derechos-reservados-footer .texto-creador-derecho-reservados{
        font-size: 1.1rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contenedor-derechos-reservados-footer{
        margin-top: 1.3rem;
    }

    .contenedor-derechos-reservados-footer .texto-creador-derecho-reservados{
        font-size: 1.2rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px){
    .contenedor-derechos-reservados-footer{
        margin-top: 1.3rem;
    }
    
    .contenedor-derechos-reservados-footer .texto-creador-derecho-reservados{
        font-size: 1.3rem;
    }
}