*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.contenedor-informacion-plataforma-extra-icono-footer-varios{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

/*modo claro*/
.light-mode .contenedor-informacion-plataforma-extra-icono-footer-varios{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-informacion-plataforma-extra-icono-footer-varios{
    background-color: #161515;
}

.contenedor-informacion-plataforma-extra-icono-footer{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.contenedor-informacion-plataforma-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.contenedor-informacion-plataforma-footer .texto-principal-informacion-plataforma-footer{
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-informacion-plataforma-footer .texto-principal-informacion-plataforma-footer{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-informacion-plataforma-footer .texto-principal-informacion-plataforma-footer{
    color: #ffffff;
}

.contenedor-icono-plataforma-extra-footer{
    overflow: hidden;
}

.enlaces-desplegables{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}


.enlace-desplegable {
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    outline: none;
}

/*modo claro*/
.light-mode .enlace-desplegable{
    color: #242525;
}
/*modo oscuro*/
.dark-mode .enlace-desplegable{
    color: #838888;
}

.enlace-desplegable:hover {
    color: #ff0000
}

.icono-expansion-abajo, .icono-expansion-arriba {
    transition: transform 0.3s ease-in-out;
}

.contenedor-icono-plataforma-extra-footer .icono-expansion-arriba, .icono-expansion-abajo{
    font-size: 1rem;
}

/*modo claro*/
.light-mode .contenedor-icono-plataforma-extra-footer .icono-expansion-arriba, .light-mode .icono-expansion-abajo{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-icono-plataforma-extra-footer .icono-expansion-arriba, .dark-mode .icono-expansion-abajo{
    color: #ffffff;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px) {
    .contenedor-informacion-plataforma-footer .texto-principal-informacion-plataforma-footer{
        font-size: 1.1rem;
    }

    .enlace-desplegable {
        font-size: 1rem;
    }

    .contenedor-icono-plataforma-extra-footer .icono-expansion-arriba, .icono-expansion-abajo{
        font-size: 1.1rem;
    }
}


/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .contenedor-informacion-plataforma-footer .texto-principal-informacion-plataforma-footer{
        font-size: 1.1rem;
    }

    .enlace-desplegable {
        font-size: 1rem;
    }

    .contenedor-icono-plataforma-extra-footer .icono-expansion-arriba, .icono-expansion-abajo{
        font-size: 1.1rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor-informacion-plataforma-footer .texto-principal-informacion-plataforma-footer{
        font-size: 1.2rem;
    }

    .enlace-desplegable {
        font-size: 1.1rem;
    }

    .contenedor-icono-plataforma-extra-footer .icono-expansion-arriba, .icono-expansion-abajo{
        font-size: 1.2rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contenedor-informacion-plataforma-footer .texto-principal-informacion-plataforma-footer{
        font-size: 1.2rem;
    }

    .enlace-desplegable {
        font-size: 1.1rem;
    }

    .contenedor-icono-plataforma-extra-footer .icono-expansion-arriba, .icono-expansion-abajo{
        font-size: 1.2rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px) {
    .contenedor-informacion-plataforma-footer .texto-principal-informacion-plataforma-footer{
        font-size: 1.4rem;
    }

    .enlace-desplegable {
        font-size: 1.3rem;
    }

    .contenedor-icono-plataforma-extra-footer .icono-expansion-arriba, .icono-expansion-abajo{
        font-size: 1.4rem;
    }
}