*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.contenedor-siguenos-en-redes-sociales-footer{
    margin-top: 0.5rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

/*modo claro*/
.light-mode .contenedor-siguenos-en-redes-sociales-footer{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-siguenos-en-redes-sociales-footer{
    background-color: #161515;
}

.contenedor-siguenos-en-redes-sociales-footer .texto-siguenos-en{
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-siguenos-en-redes-sociales-footer .texto-siguenos-en{
    color: #202020;
}
/*modo oscuro*/
.dark-mode .contenedor-siguenos-en-redes-sociales-footer .texto-siguenos-en{
    color: #ffffff;
}

.contenedor-redes-sociales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 40%;
    height: auto;
}

.contenedor-redes-sociales .icono-facebook, .icono-instagram, .icono-tiktok, .icono-twitter{
    font-size: 1rem;
    cursor: pointer;
}

/*modo claro*/
.contenedor-redes-sociales .light-mode .icono-facebook, .light-mode .icono-instagram, .light-mode .icono-tiktok, .light-mode .icono-twitter{
    color: #000000;
}
/*modo oscuro*/
.contenedor-redes-sociales .dark-mode .icono-facebook, .dark-mode .icono-instagram, .dark-mode .icono-tiktok, .dark-mode .icono-twitter{
    color: #ffffff;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px) {
    .contenedor-siguenos-en-redes-sociales-footer .texto-siguenos-en{
        font-size: 1.1rem;
    }

    .contenedor-redes-sociales .icono-facebook, .icono-instagram, .icono-tiktok, .icono-twitter{
        font-size: 1.1rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .contenedor-siguenos-en-redes-sociales-footer .texto-siguenos-en{
        font-size: 1.1rem;
    }

    .contenedor-redes-sociales .icono-facebook, .icono-instagram, .icono-tiktok, .icono-twitter{
        font-size: 1.1rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor-siguenos-en-redes-sociales-footer .texto-siguenos-en{
        font-size: 1.2rem;
    }

    .contenedor-redes-sociales .icono-facebook, .icono-instagram, .icono-tiktok, .icono-twitter{
        font-size: 1.2rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contenedor-siguenos-en-redes-sociales-footer .texto-siguenos-en{
        font-size: 1.2rem;
    }
    
    .contenedor-redes-sociales .icono-facebook, .icono-instagram, .icono-tiktok, .icono-twitter{
        font-size: 1.2rem;
    }
}


/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px) {
    .contenedor-siguenos-en-redes-sociales-footer .texto-siguenos-en{
        font-size: 1.4rem;
    }
    
    .contenedor-redes-sociales .icono-facebook, .icono-instagram, .icono-tiktok, .icono-twitter{
        font-size: 1.4rem;
    }
}