*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.contenedor-menu-hamburguesa-info-principal{
    width: 98%;
    height: auto;
}
/*modo claro*/
.light-mode .contenedor-menu-hamburguesa-info-principal{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-menu-hamburguesa-info-principal{
    background-color: #000000;
}

.contenedor-primera-seccion-menu-hamburguesa-principal{
    width: 100%;
    height: auto;
    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 0.5rem;
}
/*modo claro*/
.light-mode .contenedor-primera-seccion-menu-hamburguesa-principal{
    background-color: #e7ff11;
}
/*modo oscuro*/
.dark-mode .contenedor-primera-seccion-menu-hamburguesa-principal{
    background-color:  #383737;
}

.contenedor-primera-seccion-menu-hamburguesa-principal .icono-cerrar{
    font-size: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
/*modo claro*/
.light-mode .contenedor-primera-seccion-menu-hamburguesa-principal .icono-cerrar{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-primera-seccion-menu-hamburguesa-principal .icono-cerrar{
    color: #ffffff;
}

.contenedor-segunda-seccion-menu-hamburguesa-principal{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/*modo claro*/
.light-mode .contenedor-segunda-seccion-menu-hamburguesa-principal{
    border-bottom: 1px solid #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-segunda-seccion-menu-hamburguesa-principal{
    border-bottom: 1px solid #ffffff;
}

.contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu{
    width: auto;
    height: auto;
    padding: 0.8rem;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}
/*modo claro*/
.light-mode .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu{
    background-color: #ffffff;
}
/*modo oscuro*/
.dark-mode .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu{
    background-color: #000000;
}


/*modo claro*/
.light-mode .icono-expansion-derecha{
    color: #000000;

}
/*modo claro*/
.dark-mode  .icono-expansion-derecha{
    color: #ffffff;
}


.contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .icono-ubicacion{
    font-size: 1rem;
}
/*modo claro*/
.light-mode .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .icono-ubicacion{
    color: #000000;

}
/*modo claro*/
.dark-mode .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .icono-ubicacion{
    color: #ffffff;
}

.contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .texto-como-recibir-pedido-menu-hamburguesa-principal{
    font-weight: bold;
    font-size: 1rem;
}
/*modo claro*/
.light-mode .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .texto-como-recibir-pedido-menu-hamburguesa-principal{
    color: #000000;

}
/*modo claro*/
.dark-mode .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .texto-como-recibir-pedido-menu-hamburguesa-principal{
    color: #ffffff;
}

.contenedor-segunda-tercera-cuarta-quinta-seccion-menu-hamburguesa-principal{
    margin: 0 auto;
    width: 90%;
    height: auto;
}

.contenedor-tercera-seccion-menu-hamburguesa-principal{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/*modo claro*/
.light-mode .contenedor-tercera-seccion-menu-hamburguesa-principal{
    border-bottom: 1px solid #000000;

}
/*modo claro*/
.dark-mode .contenedor-tercera-seccion-menu-hamburguesa-principal{
    border-bottom: 1px solid #ffffff;
}

.contenedor-tercera-seccion-menu-hamburguesa-principal .texto-novedades-menu-hamburguesa-principal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}
/*modo claro*/
.light-mode .contenedor-tercera-seccion-menu-hamburguesa-principal .texto-novedades-menu-hamburguesa-principal{
    color: #000000;

}
/*modo claro*/
.dark-mode .contenedor-tercera-seccion-menu-hamburguesa-principal .texto-novedades-menu-hamburguesa-principal{
    color: #ffffff;
}

.contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal .texto-item-novedades-menu-hamburguesa-tercera-principal{
    margin-bottom: 0.7rem;
    font-size: 1rem;
}
/*modo claro*/
.light-mode .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal .texto-item-novedades-menu-hamburguesa-tercera-principal{
    color: #000000;

}
/*modo claro*/
.dark-mode .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal .texto-item-novedades-menu-hamburguesa-tercera-principal{
    color: #ffffff;
}

.contenedor-cuarta-seccion-menu-hamburguesa-principal{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/*modo claro*/
.light-mode .contenedor-cuarta-seccion-menu-hamburguesa-principal{
    border-bottom: 1px solid #000000;

}
/*modo claro*/
.dark-mode .contenedor-cuarta-seccion-menu-hamburguesa-principal{
    border-bottom: 1px solid #ffffff;
}

.contenedor-cuarta-seccion-menu-hamburguesa-principal .texto-categorias-menu-hamburguesa-principal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}
/*modo claro*/
.light-mode .contenedor-cuarta-seccion-menu-hamburguesa-principal .texto-categorias-menu-hamburguesa-principal{
    color: #000000;

}
/*modo claro*/
.dark-mode .contenedor-cuarta-seccion-menu-hamburguesa-principal .texto-categorias-menu-hamburguesa-principal{
    color: #ffffff;
}

.contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal .texto-item-categorias-menu-hamburguesa-cuarta-principal{
    margin-bottom: 0.7rem;
    font-size: 1rem;
}
/*modo claro*/
.light-mode .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal .texto-item-categorias-menu-hamburguesa-cuarta-principal{
    color: #000000;

}
/*modo claro*/
.dark-mode .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal .texto-item-categorias-menu-hamburguesa-cuarta-principal{
    color: #ffffff;
}

.contenedor-quinta-seccion-menu-hamburguesa-principal{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.contenedor-quinta-seccion-menu-hamburguesa-principal .texto-servicios-menu-hamburguesa-principal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}
/*modo claro*/
.light-mode .contenedor-quinta-seccion-menu-hamburguesa-principal .texto-servicios-menu-hamburguesa-principal{
    color: #000000;

}
/*modo claro*/
.dark-mode .contenedor-quinta-seccion-menu-hamburguesa-principal .texto-servicios-menu-hamburguesa-principal{
    color: #ffffff;
}

.contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal .texto-item-servicios-menu-hamburguesa-quinta-principal{
    margin-bottom: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
}
/*modo claro*/
.light-mode .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal .texto-item-servicios-menu-hamburguesa-quinta-principal{
    color: #000000;

}
/*modo claro*/
.dark-mode .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal .texto-item-servicios-menu-hamburguesa-quinta-principal{
    color: #ffffff;
}

.contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno .link-titulo-uno{
    text-decoration: none;
}

.contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
    font-size: 1rem;
} 

.contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno{
    padding: 0.4rem;
    border-radius: 50%;
    border: 1px solid #000000;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*modo claro*/
.light-mode .contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno{
    background-color: #fbff02;
}

/*modo oscuro*/
.dark-mode .contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno{
    background-color: #000000;
}

/*modo claro*/
.light-mode .contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
    color: #000000;
}

/*modo oscuro*/
.dark-mode .contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
    color: #ffffff;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px){
    .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        height: 1.5rem;
    }
    
    .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        height: 1.5rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        height: 1.5rem;
    }

    .contenedor-segunda-seccion-menu-hamburguesa-principal{
        justify-content: start;
    }

    .contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
        font-size: 1.1rem;
    }
    
    .contenedor-primera-seccion-menu-hamburguesa-principal .icono-cerrar{
        font-size: 1.1rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .icono-ubicacion{
        font-size: 1.1rem;
    }
    
    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .texto-como-recibir-pedido-menu-hamburguesa-principal{
        font-size: 1.1rem;
    }

    .contenedor-tercera-seccion-menu-hamburguesa-principal .texto-novedades-menu-hamburguesa-principal{
        font-size: 1.1rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal .texto-item-novedades-menu-hamburguesa-tercera-principal{
        font-size: 1.1rem;
    }

    .contenedor-cuarta-seccion-menu-hamburguesa-principal .texto-categorias-menu-hamburguesa-principal{
        font-size: 1.1rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal .texto-item-categorias-menu-hamburguesa-cuarta-principal{
        font-size: 1.1rem;
    }

    .contenedor-quinta-seccion-menu-hamburguesa-principal .texto-servicios-menu-hamburguesa-principal{
        font-size: 1.1rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal .texto-item-servicios-menu-hamburguesa-quinta-principal{
        font-size: 1.1rem;
    }
}


/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        height: 1.5rem;
    }
    
    .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        height: 1.5rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        height: 1.5rem;
    }

    .contenedor-segunda-seccion-menu-hamburguesa-principal{
        justify-content: start;
    }

    .contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
        font-size: 1.1rem;
    }
    
    .contenedor-primera-seccion-menu-hamburguesa-principal .icono-cerrar{
        font-size: 1.1rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .icono-ubicacion{
        font-size: 1.1rem;
    }
    
    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .texto-como-recibir-pedido-menu-hamburguesa-principal{
        font-size: 1.1rem;
    }

    .contenedor-tercera-seccion-menu-hamburguesa-principal .texto-novedades-menu-hamburguesa-principal{
        font-size: 1.1rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal .texto-item-novedades-menu-hamburguesa-tercera-principal{
        font-size: 1.1rem;
    }

    .contenedor-cuarta-seccion-menu-hamburguesa-principal .texto-categorias-menu-hamburguesa-principal{
        font-size: 1.1rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal .texto-item-categorias-menu-hamburguesa-cuarta-principal{
        font-size: 1.1rem;
    }

    .contenedor-quinta-seccion-menu-hamburguesa-principal .texto-servicios-menu-hamburguesa-principal{
        font-size: 1.1rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal .texto-item-servicios-menu-hamburguesa-quinta-principal{
        font-size: 1.1rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        height: 1.5rem;
    }
    
    .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        height: 1.5rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
        height: 1.5rem;
    }

    .contenedor-segunda-seccion-menu-hamburguesa-principal{
        justify-content: start;
    }

    .contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
        font-size: 1.2rem;
    }
    
    .contenedor-primera-seccion-menu-hamburguesa-principal .icono-cerrar{
        font-size: 1.2rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .icono-ubicacion{
        font-size: 1.2rem;
    }
    
    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .texto-como-recibir-pedido-menu-hamburguesa-principal{
        font-size: 1.2rem;
    }

    .contenedor-tercera-seccion-menu-hamburguesa-principal .texto-novedades-menu-hamburguesa-principal{
        font-size: 1.2rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal .texto-item-novedades-menu-hamburguesa-tercera-principal{
        font-size: 1.2rem;
    }

    .contenedor-cuarta-seccion-menu-hamburguesa-principal .texto-categorias-menu-hamburguesa-principal{
        font-size: 1.2rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal .texto-item-categorias-menu-hamburguesa-cuarta-principal{
        font-size: 1.2rem;
    }

    .contenedor-quinta-seccion-menu-hamburguesa-principal .texto-servicios-menu-hamburguesa-principal{
        font-size: 1.2rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal .texto-item-servicios-menu-hamburguesa-quinta-principal{
        font-size: 1.2rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal{
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        height: 1.8rem;
    }
    
    .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal{
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        height: 1.8rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal{
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        height: 1.8rem;
    }

    .contenedor-segunda-seccion-menu-hamburguesa-principal{
        justify-content: start;
    }

    .contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
        font-size: 1.2rem;
    }
    
    .contenedor-primera-seccion-menu-hamburguesa-principal .icono-cerrar{
        font-size: 1.2rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .icono-ubicacion{
        font-size: 1.2rem;
    }
    
    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .texto-como-recibir-pedido-menu-hamburguesa-principal{
        font-size: 1.2rem;
    }

    .contenedor-tercera-seccion-menu-hamburguesa-principal .texto-novedades-menu-hamburguesa-principal{
        font-size: 1.2rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal .texto-item-novedades-menu-hamburguesa-tercera-principal{
        font-size: 1.2rem;
    }

    .contenedor-cuarta-seccion-menu-hamburguesa-principal .texto-categorias-menu-hamburguesa-principal{
        font-size: 1.2rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal .texto-item-categorias-menu-hamburguesa-cuarta-principal{
        font-size: 1.2rem;
    }

    .contenedor-quinta-seccion-menu-hamburguesa-principal .texto-servicios-menu-hamburguesa-principal{
        font-size: 1.2rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal .texto-item-servicios-menu-hamburguesa-quinta-principal{
        font-size: 1.2rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px) {
    .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal{
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
        height: 2.1rem;
    }
    
    .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal{
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
        height: 2.1rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal{
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;
        height: 2.1rem;
    }

    .contenedor-segunda-seccion-menu-hamburguesa-principal{
        justify-content: start;
    }

    .contenedor-primera-seccion-menu-hamburguesa-principal .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
        font-size: 1.4rem;
    }
    
    .contenedor-primera-seccion-menu-hamburguesa-principal .icono-cerrar{
        font-size: 1.4rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .icono-ubicacion{
        font-size: 1.4rem;
    }
    
    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-menu .texto-como-recibir-pedido-menu-hamburguesa-principal{
        font-size: 1.4rem;
    }

    .contenedor-tercera-seccion-menu-hamburguesa-principal .texto-novedades-menu-hamburguesa-principal{
        font-size: 1.4rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-tercera-principal .texto-item-novedades-menu-hamburguesa-tercera-principal{
        font-size: 1.4rem;
    }

    .contenedor-cuarta-seccion-menu-hamburguesa-principal .texto-categorias-menu-hamburguesa-principal{
        font-size: 1.4rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-cuarta-principal .texto-item-categorias-menu-hamburguesa-cuarta-principal{
        font-size: 1.4rem;
    }

    .contenedor-quinta-seccion-menu-hamburguesa-principal .texto-servicios-menu-hamburguesa-principal{
        font-size: 1.4rem;
    }

    .contenedor-item-iconos-expansion-menu-hamburguesa-quinta-principal .texto-item-servicios-menu-hamburguesa-quinta-principal{
        font-size: 1.4rem;
    }
}