* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.cabecera {
    width: 100%;
    height: auto;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    pointer-events: none;
}

.overlay-active .overlay {
    pointer-events: auto;
}

/*modo claro*/
.light-mode .contenedor-primera-seccion-cabecera .icono-fuego {
    color: #fc0e0e;
}

/*modo oscuro*/
.dark-mode .contenedor-primera-seccion-cabecera .icono-fuego {
    color: #a39e9e;
}

/*modo claro*/
.light-mode .contenedor-primera-seccion-cabecera .icono-computadora {
    color: #0fff5f;
}

/*modo oscuro*/
.dark-mode .contenedor-primera-seccion-cabecera .icono-computadora {
    color: #a39e9e;
}

/*modo claro*/
.light-mode .icono-menu-hamburguesa,
.light-mode .icono-busqueda,
.light-mode .icono-notificaciones,
.light-mode .icono-usuario,
.light-mode .icono-carrito,
.light-mode .icono-ubicacion,
.light-mode .icono-expansion-derecha {
    color: #000000;
}

/*modo oscuro*/
.dark-mode .icono-menu-hamburguesa,
.dark-mode .icono-busqueda,
.dark-mode .icono-notificaciones,
.dark-mode .icono-usuario,
.dark-mode .icono-carrito,
.dark-mode .icono-ubicacion,
.dark-mode .icono-expansion-derecha {
    color: #ffffff;
}

.icono-fuego,
.icono-computadora,
.icono-busqueda {
    font-size: 1rem;
}

.icono-notificaciones,
.icono-usuario,
.icono-carrito,
.icono-ubicacion,
.icono-menu-hamburguesa,
.icono-expansion-derecha,
.icono-expansion-izquierda {
    font-size: 1rem;
}

.contenedor-icono-notificaciones-hover .icono-notificaciones:hover {
    padding: 0.1rem;
    border-radius: 50%;
}

/*modo claro*/
.light-mode .contenedor-icono-notificaciones-hover .icono-notificaciones:hover {
    background-color: #ffffff;
}

/*modo oscuro*/
.dark-mode .contenedor-icono-notificaciones-hover .icono-notificaciones:hover {
    background-color: #686363;
}

.contenedor-icono-usuario-hover .icono-usuario:hover {
    padding: 0.1rem;
    border-radius: 50%;
}

/*modo claro*/
.light-mode .contenedor-icono-usuario-hover .icono-usuario:hover {
    background-color: #ffffff;
}

/*modo oscuro*/
.dark-mode .contenedor-icono-usuario-hover .icono-usuario:hover {
    background-color: #686363;
}

.contenedor-icono-carrito-hover .icono-carrito:hover {
    padding: 0.1rem;
    border-radius: 50%;
}

/*modo claro*/
.light-mode .contenedor-icono-carrito-hover .icono-carrito:hover {
    background-color: #ffffff;
}

/*modo oscuro*/
.dark-mode .contenedor-icono-carrito-hover .icono-carrito:hover {
    background-color: #686363;
}

.contenedor-icono-menu-hamburguesa-hover .icono-menu-hamburguesa:hover {
    padding: 0.1rem;
    border-radius: 50%;
}

/*modo claro*/
.light-mode .contenedor-icono-menu-hamburguesa-hover .icono-menu-hamburguesa:hover {
    background-color: #ffffff;
}

/*modo oscuro*/
.dark-mode .contenedor-icono-menu-hamburguesa-hover .icono-menu-hamburguesa:hover {
    background-color: #686363;
}

.contenedor-primera-seccion-cabecera {
    width: 100%;
    height: auto;
    padding: 0.3rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/*modo claro*/
.light-mode .contenedor-primera-seccion-cabecera {
    background-color: #7c00c4;
}

/*modo oscuro*/
.dark-mode .contenedor-primera-seccion-cabecera {
    background-color: #000000;
}

.contenedor-envio-gratis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-envio-gratis .contenedor-todos-lo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.contenedor-envio-gratis .contenedor-todos-lo .texto-todos-lo {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-envio-gratis .contenedor-todos-lo .texto-todos-lo {
    color: #ffffff;
}

/*modo oscuro*/
.dark-mode .contenedor-envio-gratis .contenedor-todos-lo .texto-todos-lo {
    color: #a39e9e;
}

.contenedor-envio-gratis .contenedor-articulo-envio-gratis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.contenedor-envio-gratis .contenedor-articulo-envio-gratis .texto-articulo-envio-gratis {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-envio-gratis .contenedor-articulo-envio-gratis .texto-articulo-envio-gratis {
    color: #ffffff;
}

/*modo oscuro*/
.dark-mode .contenedor-envio-gratis .contenedor-articulo-envio-gratis .texto-articulo-envio-gratis {
    color: #a39e9e;
}

/*modo claro*/
.light-mode .contenedor-primera-seccion-cabecera .boton-accion {
    background-color: #07518d;
}

/*modo oscuro*/
.dark-mode .contenedor-primera-seccion-cabecera .boton-accion {
    background-color: #686363;
}

/*modo claro*/
.light-mode .contenedor-primera-seccion-cabecera .boton-accion:active {
    background-color: #f0ff6c;
}

/*modo oscuro*/
.dark-mode .contenedor-primera-seccion-cabecera .boton-accion:active {
    background-color: #8d8a8a;
}

.contenedor-segunda-seccion-cabecera {
    margin: -0.1rem auto -0.3rem;
    width: 100%;
    height: auto;
    padding: 0.9rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;
}

/*modo claro*/
.light-mode .contenedor-segunda-seccion-cabecera {
    background-color: #e7ff11;
}

/*modo oscuro*/
.dark-mode .contenedor-segunda-seccion-cabecera {
    background-color: #383737;
}

.contenedor-segunda-seccion-cabecera .contenedor-menu-hamburguesa {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.contenedor-icono-menu-hamburguesa-titulo-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
}

.contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda {
    width: 65%;
    height: auto;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 3px 5px #000000;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.3rem;
}

/*modo claro*/
.light-mode .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda {
    background-color: #ffffff;
}

/*modo oscuro*/
.dark-mode .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda {
    background-color: #686363;
}

.contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input {
    width: 100%;
    height: auto;
    border: none;
    font-size: 1rem;
}

/*modo claro*/
.light-mode .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input {
    background-color: #ffffff;
    color: #000000;
}

/*modo oscuro*/
.dark-mode .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input {
    background-color: #686363;
    color: #ffffff;
}

/*modo claro*/
.light-mode .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input::placeholder {
    color: #696565;
}

/*modo oscuro*/
.dark-mode .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input::placeholder {
    color: #cac5c5;
}

.contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input:focus {
    outline: none;
}

.contenedor-segunda-seccion-cabecera .contenedor-icon-noti-usua-carri {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.contenedor-tercera-seccion-cabecera {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*modo claro*/
.light-mode .contenedor-tercera-seccion-cabecera {
    background-color: #e7ff11;
}

/*modo oscuro*/
.dark-mode .contenedor-tercera-seccion-cabecera {
    background-color: #383737;
}

.contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera-vista-compu {
    display: none;
    cursor: pointer;
}

.contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera {
    width: auto;
    height: auto;
    padding: 0.5rem;
    cursor: pointer;
    margin-left: 0.2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera .contenedor-como-quieres-recibir-tu-pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
    font-size: 1rem;
    text-align: center;
}

/*modo claro*/
.light-mode .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
    color: #000000;
}

/*modo oscuro*/
.dark-mode .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
    color: #ffffff;
}

.contenedor-menu-hamburguesa .contenedor-titulo-uno {
    display: none;
    padding: 0.4rem;
    border: 1px solid #000000;
    border-radius: 50%;
    width: auto;
}

.contenedor-menu-hamburguesa .contenedor-titulo-uno .link-titulo-uno{
    text-decoration: none;
}

.contenedor-menu-hamburguesa .contenedor-icono-menu-hamburguesa-titulo-menu .contenedor-titulo-de-menu {
    display: none;
}

.contenedor-menu-hamburguesa .icono-menu-hamburguesa {
    cursor: pointer;
}

.contenedor-icon-noti-usua-carri .icono-notificaciones,
.icono-usuario,
.icono-carrito {
    cursor: pointer;
}

.contenedor-icon-noti-usua-carri .contenedor-de-icono-notificaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}

.contenedor-icon-noti-usua-carri .contenedor-de-icono-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.contenedor-icon-noti-usua-carri .contenedor-de-icono-carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.contenedor-texto-notificaciones,
.contenedor-texto-mi-cuenta,
.contenedor-texto-carrito {
    display: none;
    text-align: center;
}

.link-cuadro-compra, .link-crear-cuenta{
    text-decoration: none;
}

/*modo claro*/
.light-mode .contenedor-menu-hamburguesa .contenedor-titulo-uno {
    background-color: #fbff02;
}

/*modo oscuro*/
.dark-mode .contenedor-menu-hamburguesa .contenedor-titulo-uno {
    background-color: #000000;
}

/*modo claro*/
.light-mode .contenedor-menu-hamburguesa .contenedor-titulo-uno .link-titulo-uno .titulo-uno {
    color: #000000;
}

/*modo oscuro*/
.dark-mode .contenedor-menu-hamburguesa .contenedor-titulo-uno .link-titulo-uno .titulo-uno {
    color: #ffffff;
}

/*modo claro*/
.light-mode .contenedor-menu-hamburguesa .contenedor-icono-menu-hamburguesa-titulo-menu .contenedor-titulo-de-menu .titulo-de-menu {
    color: #000000;
}

/*modo oscuro*/
.dark-mode .contenedor-menu-hamburguesa .contenedor-icono-menu-hamburguesa-titulo-menu .contenedor-titulo-de-menu .titulo-de-menu {
    color: #ffffff;
}

/*modo claro*/
.light-mode .contenedor-texto-notificaciones,
.light-mode .contenedor-texto-mi-cuenta,
.light-mode .contenedor-texto-carrito {
    color: #000000;
}

/*modo oscuro*/
.dark-mode .contenedor-texto-notificaciones,
.dark-mode .contenedor-texto-mi-cuenta,
.dark-mode .contenedor-texto-carrito {
    color: #ffffff;
}

/*modo claro*/
.light-mode .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera-vista-compu .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
    color: #000000;
}

/*modo oscuro*/
.dark-mode .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera-vista-compu .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
    color: #ffffff;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and (min-width: 481px) and (max-width: 767px) {

    .icono-fuego,
    .icono-computadora,
    .icono-busqueda {
        font-size: 1.1rem;
    }

    .icono-notificaciones,
    .icono-usuario,
    .icono-carrito,
    .icono-ubicacion,
    .icono-menu-hamburguesa,
    .icono-expansion-derecha,
    .icono-expansion-izquierda {
        font-size: 1.1rem;
    }

    .contenedor-envio-gratis .contenedor-todos-lo .texto-todos-lo {
        font-size: 1.1rem;
    }

    .contenedor-envio-gratis .contenedor-articulo-envio-gratis .texto-articulo-envio-gratis {
        font-size: 1.1rem;
    }

    .contenedor-segunda-seccion-cabecera {
        margin: -0.1rem auto -0.3rem;
    }

    .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input {
        font-size: 1.1rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
        font-size: 1.1rem;
    }
}

/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape) {
    .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda {
        width: 45%;
    }

    .contenedor-texto-notificaciones,
    .contenedor-texto-mi-cuenta,
    .contenedor-texto-carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-icon-noti-usua-carri .texto-notificaciones, .texto-mi-cuenta, .texto-carrito {
        font-size: 1.1rem;
    }

    .icono-fuego,
    .icono-computadora,
    .icono-busqueda {
        font-size: 1.1rem;
    }

    .icono-notificaciones,
    .icono-usuario,
    .icono-carrito,
    .icono-ubicacion,
    .icono-menu-hamburguesa,
    .icono-expansion-derecha,
    .icono-expansion-izquierda {
        font-size: 1.1rem;
    }

    .contenedor-envio-gratis .contenedor-todos-lo .texto-todos-lo {
        font-size: 1.1rem;
    }

    .contenedor-envio-gratis .contenedor-articulo-envio-gratis .texto-articulo-envio-gratis {
        font-size: 1.1rem;
    }

    .contenedor-segunda-seccion-cabecera {
        margin: -0.1rem auto -0.3rem;
    }

    .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input {
        font-size: 1.1rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
        font-size: 1.1rem;
    }

}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda {
        width: 45%;
    }

    .contenedor-menu-hamburguesa .contenedor-titulo-uno {
        display: block;
    }

    .contenedor-menu-hamburguesa .contenedor-titulo-uno .link-titulo-uno .titulo-uno {
        font-size: 1.2rem;
    }
    
    .contenedor-menu-hamburguesa .contenedor-icono-menu-hamburguesa-titulo-menu .contenedor-titulo-de-menu {
        display: block;
    }

    .contenedor-menu-hamburguesa .contenedor-icono-menu-hamburguesa-titulo-menu .contenedor-titulo-de-menu .titulo-de-menu{
        font-size: 1.2rem;
    }

    .contenedor-texto-notificaciones,
    .contenedor-texto-mi-cuenta,
    .contenedor-texto-carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-icon-noti-usua-carri .texto-notificaciones, .texto-mi-cuenta, .texto-carrito {
        font-size: 1.2rem;
    }

    .icono-fuego,
    .icono-computadora,
    .icono-busqueda {
        font-size: 1.2rem;
    }

    .icono-notificaciones,
    .icono-usuario,
    .icono-carrito,
    .icono-ubicacion,
    .icono-menu-hamburguesa,
    .icono-expansion-derecha,
    .icono-expansion-izquierda {
        font-size: 1.2rem;
    }

    .contenedor-envio-gratis .contenedor-todos-lo .texto-todos-lo {
        font-size: 1.2rem;
    }

    .contenedor-envio-gratis .contenedor-articulo-envio-gratis .texto-articulo-envio-gratis {
        font-size: 1.2rem;
    }

    .contenedor-segunda-seccion-cabecera {
        margin: -0.1rem auto -0.3rem;
    }

    .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input {
        font-size: 1.2rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
        font-size: 1.2rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda {
        width: 40%;
    }

    .contenedor-menu-hamburguesa .contenedor-titulo-uno {
        display: block;
    }

    .contenedor-menu-hamburguesa .contenedor-titulo-uno .link-titulo-uno .titulo-uno {
        font-size: 1.2rem;
    }
    
    .contenedor-menu-hamburguesa .contenedor-icono-menu-hamburguesa-titulo-menu .contenedor-titulo-de-menu {
        display: block;
    }

    .contenedor-menu-hamburguesa .contenedor-icono-menu-hamburguesa-titulo-menu .contenedor-titulo-de-menu .titulo-de-menu{
        font-size: 1.2rem;
    }

    .contenedor-texto-notificaciones,
    .contenedor-texto-mi-cuenta,
    .contenedor-texto-carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-icon-noti-usua-carri .texto-notificaciones, .texto-mi-cuenta, .texto-carrito {
        font-size: 1.2rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera {
        display: none;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera-vista-compu {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        text-align: center;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera-vista-compu .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
        font-size: 1.2rem;
    }

    .icono-fuego,
    .icono-computadora,
    .icono-busqueda {
        font-size: 1.2rem;
    }

    .icono-notificaciones,
    .icono-usuario,
    .icono-carrito,
    .icono-ubicacion,
    .icono-menu-hamburguesa,
    .icono-expansion-derecha,
    .icono-expansion-izquierda {
        font-size: 1.2rem;
    }

    .contenedor-envio-gratis .contenedor-todos-lo .texto-todos-lo {
        font-size: 1.2rem;
    }

    .contenedor-envio-gratis .contenedor-articulo-envio-gratis .texto-articulo-envio-gratis {
        font-size: 1.2rem;
    }

    .contenedor-segunda-seccion-cabecera {
        margin: -0.1rem auto -0.3rem;
    }

    .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input {
        font-size: 1.2rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
        font-size: 1.2rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px) {
    .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda {
        width: 40%;
    }

    .contenedor-menu-hamburguesa .contenedor-titulo-uno {
        display: block;
    }

    .contenedor-menu-hamburguesa .contenedor-titulo-uno .link-titulo-uno .titulo-uno {
        font-size: 1.4rem;
    }
    
    .contenedor-menu-hamburguesa .contenedor-icono-menu-hamburguesa-titulo-menu .contenedor-titulo-de-menu {
        display: block;
    }

    .contenedor-menu-hamburguesa .contenedor-icono-menu-hamburguesa-titulo-menu .contenedor-titulo-de-menu .titulo-de-menu{
        font-size: 1.4rem;
    }

    .contenedor-texto-notificaciones,
    .contenedor-texto-mi-cuenta,
    .contenedor-texto-carrito {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-icon-noti-usua-carri .texto-notificaciones, .texto-mi-cuenta, .texto-carrito {
        font-size: 1.4rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera {
        display: none;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera-vista-compu {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        text-align: center;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera-vista-compu .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
        font-size: 1.4rem;
    }

    .icono-fuego,
    .icono-computadora,
    .icono-busqueda {
        font-size: 1.4rem;
    }

    .icono-notificaciones,
    .icono-usuario,
    .icono-carrito,
    .icono-ubicacion,
    .icono-menu-hamburguesa,
    .icono-expansion-derecha,
    .icono-expansion-izquierda {
        font-size: 1.4rem;
    }

    .contenedor-envio-gratis .contenedor-todos-lo .texto-todos-lo {
        font-size: 1.4rem;
    }

    .contenedor-envio-gratis .contenedor-articulo-envio-gratis .texto-articulo-envio-gratis {
        font-size: 1.4rem;
    }

    .contenedor-segunda-seccion-cabecera {
        margin: -0.1rem auto -0.3rem;
    }

    .contenedor-segunda-seccion-cabecera .contenedor-barra-icono-busqueda input {
        font-size: 1.4rem;
    }

    .contenedor-icono-ubicacion-recibir-pedido-icono-expansion-cabecera .contenedor-como-quieres-recibir-tu-pedido .texto-quieres-recibir {
        font-size: 1.4rem;
    }
}