*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.contenedor-signo-exclamacion-compra-segura-candado-titulo-uno{
    width: 100%;
    height: auto;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

/*modo claro*/
.light-mode .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno{
    background-color: #e7ff11;
}
/*modo oscuro*/
.dark-mode .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno{
    background-color: #383737;
}

.contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno .link-titulo-uno{
    text-decoration: none;
}

.contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
    font-size: 1rem;
} 

.contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno{
    padding: 0.4rem;
    border-radius: 50%;
    border: 1px solid #000000;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/*modo claro*/
.light-mode .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno{
    background-color: #fbff02;
}

/*modo oscuro*/
.dark-mode .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno{
    background-color: #000000;
}

/*modo claro*/
.light-mode .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
    color: #000000;
}

/*modo oscuro*/
.dark-mode .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno .link-titulo-uno .titulo-uno{
    color: #ffffff;
}

.contenedor-signo-exclamacion-compra-segura-candado{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.contenedor-signo-exclamacion-compra-segura-candado .signo-exclamacion{
    font-size: 1rem;
}

/*modo claro*/
.light-mode .contenedor-signo-exclamacion-compra-segura-candado .signo-exclamacion{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-signo-exclamacion-compra-segura-candado .signo-exclamacion{
    color: #ffffff;
}

.contenedor-compra-segura-candado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.contenedor-compra-segura-candado .texto-compra-segura{
    font-size: 1rem;
    font-weight: bold;
}

/*modo claro*/
.light-mode .contenedor-compra-segura-candado .texto-compra-segura{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-compra-segura-candado .texto-compra-segura{
    color: #ffffff;
}

.contenedor-compra-segura-candado .icono-candado{
    font-size: 1rem;
}

/*modo claro*/
.light-mode .contenedor-compra-segura-candado .icono-candado{
    color: #000000;
}
/*modo oscuro*/
.dark-mode .contenedor-compra-segura-candado .icono-candado{
    color: #ffffff;
}

/* Móviles grandes (Ej: iPhone 14 Pro Max, Galaxy S23 Ultra) */
@media screen and  (min-width: 481px) and (max-width: 767px) {
    .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno .link-titulo-uno .titulo-uno {
        font-size: 1.1rem;
    }

    .contenedor-signo-exclamacion-compra-segura-candado .signo-exclamacion{
        font-size: 1.1rem;
    }

    .contenedor-compra-segura-candado .texto-compra-segura{
        font-size: 1.1rem;
    }
    
    .contenedor-compra-segura-candado .icono-candado{
        font-size: 1.1rem;
    }
}


/* Móviles en modo Landscape */
@media screen and (max-width: 812px) and (orientation: landscape){
    .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno .link-titulo-uno .titulo-uno {
        font-size: 1.1rem;
    }

    .contenedor-signo-exclamacion-compra-segura-candado .signo-exclamacion{
        font-size: 1.1rem;
    }

    .contenedor-compra-segura-candado .texto-compra-segura{
        font-size: 1.1rem;
    }
    
    .contenedor-compra-segura-candado .icono-candado{
        font-size: 1.1rem;
    }
}

/* Tablets y pantallas medianas (Ej: iPad, Galaxy Tab) */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno .link-titulo-uno .titulo-uno {
        font-size: 1.2rem;
    }

    .contenedor-signo-exclamacion-compra-segura-candado .signo-exclamacion{
        font-size: 1.2rem;
    }

    .contenedor-compra-segura-candado .texto-compra-segura{
        font-size: 1.2rem;
    }
    
    .contenedor-compra-segura-candado .icono-candado{
        font-size: 1.2rem;
    }
}

/* Laptops y pantallas grandes (Ej: MacBook, laptops comunes) */
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno .link-titulo-uno .titulo-uno {
        font-size: 1.2rem;
    }

    .contenedor-signo-exclamacion-compra-segura-candado .signo-exclamacion{
        font-size: 1.2rem;
    }

    .contenedor-compra-segura-candado .texto-compra-segura{
        font-size: 1.2rem;
    }
    
    .contenedor-compra-segura-candado .icono-candado{
        font-size: 1.2rem;
    }
}

/* Monitores grandes y TVs (Ej: monitores ultraanchos, Smart TVs) */
@media screen and (min-width: 1441px){
    .contenedor-signo-exclamacion-compra-segura-candado-titulo-uno .contenedor-titulo-uno .link-titulo-uno .titulo-uno {
        font-size: 1.4rem;
    }

    .contenedor-signo-exclamacion-compra-segura-candado .signo-exclamacion{
        font-size: 1.4rem;
    }

    .contenedor-compra-segura-candado .texto-compra-segura{
        font-size: 1.4rem;
    }
    
    .contenedor-compra-segura-candado .icono-candado{
        font-size: 1.4rem;
    }
}